[project]
name = "nutils"
readme = "README.md"
authors = [
    { name = "Evalf", email = "info@evalf.com" },
]
requires-python = '~=3.7'
dependencies = [
    "numpy>=1.17",
    "treelog>=1.0b5,<2",
    "stringly>=1.0b2,<2",
    "bottombar==1.0",
]
dynamic = ["description", "version"]

[project.optional-dependencies]
docs = ["Sphinx>=1.8"]
matrix_scipy = ["scipy>=0.13"]
matrix_mkl = ["mkl"]
export_mpl = ["matplotlib>=1.3", "pillow>2.6"]
import_gmsh = ["meshio"]

[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"
