/********** General styling **********/
html, body {
	font-size: 0.9em;
	font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html{ width: 100%; height: 100%; }
body{ width: 100%; padding: 35px 0 0 0; }

a { color: #fff; }
a.active { color: #eee; }

/********** Controls **********/
#controls{
	position: fixed;
	top: 0;
	left: 0;
	width: 98%;
	padding: 2px 1%;
	height: 26px;
	overflow: hidden;
	background: #333;
	color: #fff;
	border: bottom: #aaa;
}
#controls span{ padding: 0 4px 0 0; }
#controls a{
	color: #fff;
	text-decoration: none;
}
#controls a:hover{ color: #aaa; }

/********** Syntax highliting **********/
pre { color: gray; }
span.path { color: green; }
span.path a { color: green; text-decoration: none; }
span.path a.plot { font-weight: bold; }
span.info { color: black; }
span.error { color: red; }
span.user { color: blue; font-weight: bold; }
span.warning { color: orange; }
span.debug { color: cyan; }
span.line-active { background: #E8F2FC; }

/********** Layout **********/
.column{
	display: block;
  width: 48%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1%;
}

#code{ overflow-x: auto; }
#media{
 position: fixed;
 right: 0;
 top: 0;
 overflow: hidden;
 background: #fff;
}
#media-img{ display: block; margin: 32px auto; }

/********** Views **********/
/* Code view */
#code.termview {
  display: block;
  width: 98%;
  left: 0;
}
#media.termview {
  display: none;
}

/* Image view */
#code.imgview {
  display: none;
}
#media.imgview {
  display: block;
  width: 98%;
  left: 0;
}

/* Split view */
#code.splitview{
  display: block;
  width: 48%;
  left: 0;
}
#media.splitview{
  display: block;
  width: 48%;
  left: 50%;
}
