name: release
on:
  release:
    types:
      - published
jobs:
  build-and-publish:
    name: Build package and publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: python -um pip install flit
      - name: Build package
        run: python -um flit build
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
